page-stats {
    .container {
        display: flex;
        flex-direction: column;

        label {
            width: 60%;
            margin-bottom: 10px;
        }

        input {
            width: 40%;
        }
    }
}
