<ion-content padding [formGroup]="targetForm" (change)="updateForm()">
  <h3>{{ title }}</h3>
  <br />
  <div *ngFor="let control of targetForm.controls | keyvalue: fm.defaultOrder" [ngSwitch]="control.key">
    <label [for]="control.key" *ngSwitchCase="'ev'">Energie Vitale (EV)</label>
    <label [for]="control.key" *ngSwitchCase="'ea'" margin-bottom>Energie Astrale (EA)</label>
    <label [for]="control.key" *ngSwitchCase="'cou'">Courage (COU)</label>
    <label [for]="control.key" *ngSwitchCase="'int'">Intelligence (INT)</label>
    <label [for]="control.key" *ngSwitchCase="'cha'">Charisme (CHA)</label>
    <label [for]="control.key" *ngSwitchCase="'ad'">Adresse (AD)</label>
    <label [for]="control.key" *ngSwitchCase="'fo'" margin-bottom>Force (FO)</label>
    <label [for]="control.key" *ngSwitchCase="'atq'">ATTAQUE</label>
    <label [for]="control.key" *ngSwitchCase="'prd'" margin-bottom>PARADE</label>
    <label *ngSwitchCase="'magphy'" [for]="control.key">Magie Phy.</label>
    <label *ngSwitchCase="'magpsy'" [for]="control.key">Magie Psy.</label>
    <label [for]="control.key" *ngSwitchCase="'resmag'">Résist. Mag.</label>
    <input
      text-center
      *ngIf="control.key !== 'magphy' && control.key !== 'magpsy' && control.key !== 'resmag'"
      type="number"
      [id]="control.key"
      placeholder="0"
      [formControlName]="control.key"
      [value]="targetForm.get(control.key).value"
    />
    <span *ngIf="control.key === 'magphy' || control.key === 'magpsy' || control.key === 'resmag'" justify-content-center>{{
      targetForm.get(control.key).value === null ? 0 : targetForm.get(control.key).value
    }}</span>
    <span *ngIf="control.key !== 'magphy' && control.key !== 'magpsy' && control.key !== 'resmag'" justify-content-center>0</span>
    <div class="hint" *ngSwitchCase="'magphy'" margin-bottom>Moyenne INT et AD</div>
    <div class="hint" *ngSwitchCase="'magpsy'" margin-bottom>Moyenne INT et CHA</div>
    <div class="hint" *ngSwitchCase="'resmag'">Moyenne COU, INT et FO</div>
  </div>
</ion-content>
