<ion-content padding>
    <h6 text-uppercase>Butin à revendre (ou pas)</h6>
    <div margin-bottom class="hint">Tous ces machins volés sur les innocents, ou récupérés dans des coffres...</div>
    <div>
        <ion-icon name="add-circle" margin-right (click)="item.focus()"></ion-icon>
        <input
            #item
            text-capitalize
            margin-bottom
            type="text"
            placeholder="Ajouter un objet de butin"
            [(ngModel)]="dataStorage.input"
            (blur)="addItem(item.value)"
            (keydown.enter)="addItem(item.value)">
    </div>
    <div *ngFor="let item of loots" margin-bottom>
        <ion-icon name="trash" margin-right (click)="deleteItem(item)"></ion-icon>
        <input
            #itemInput
            text-capitalize
            type="text"
            [value]="item"
            (blur)="updateItem(item, itemInput.value)"
            (keydown.enter)="updateItem(item, itemInput.value)">
    </div>
</ion-content>