<ion-content padding [formGroup]="targetForm">
  <h3>sacs et transport</h3>
  <div>
    <label class="hint">charge max. origine / métier :</label>
    <input type="number" formControlName="max" placeholder="0" />
    <label>Kg</label>
  </div>
  <br />
  <div class="title">
    <label>sacs</label>
    <label>poids max.</label>
  </div>
  <br />
  <ng-container formArrayName="bags">
    <div class="add" *ngFor="let bag of bagsFormArray.controls; let i = index" [formGroupName]="i">
      <ion-icon name="close" (click)="removeItem('bags', i)"></ion-icon>
      <input type="text" formControlName="name" placeholder="nom" />
      <input type="number" formControlName="max" placeholder="0" />
      <label>kg</label>
    </div>
  </ng-container>
  <br />
  <div class="add" (click)="addItem('bags')">
    <ion-icon name="add-circle-outline"></ion-icon>
    <label>Ajouter un sac</label>
  </div>
  <br />
  <br />
  <div class="title">
    <label>bourses</label>
    <label>p. o. max.</label>
  </div>
  <br />
  <ng-container formArrayName="pooches">
    <div class="add" *ngFor="let pooch of poochesFormArray.controls; let i = index" [formGroupName]="i">
      <ion-icon name="close" (click)="removeItem('pooches', i)"></ion-icon>
      <input type="text" formControlName="name" placeholder="nom" />
      <input type="number" formControlName="max" placeholder="0" />
    </div>
  </ng-container>
  <br />
  <div class="add last" (click)="addItem('pooches')">
    <ion-icon name="add-circle-outline"></ion-icon>
    <label>Ajouter une bourse</label>
  </div>
</ion-content>
