<ion-content [formGroup]="form" (change)="updateSheet()">
  <h3>sacs et transport</h3>
  <div>
    <label class="hint">charge max. origine / métier :</label>
    <input type="number" step="0.5" min="0" formControlName="max" placeholder="0" class="ion-text-center w25" />
    <label>Kg</label>
  </div>
  <br />
  <div class="flex-align-center justify-between">
    <label class="ion-text-uppercase">sacs</label>
    <label>poids max.</label>
  </div>
  <br />
  <ng-container formArrayName="bags">
    <div class="flex-align-center ion-margin-bottom" *ngFor="let bag of bags.controls; let i = index" [formGroupName]="i">
      <ion-icon name="close" (click)="removeItem('bags', i)" class="ion-margin-end"></ion-icon>
      <input type="text" formControlName="name" placeholder="nom" class="w100" />
      <input type="number" step="0.5" min="0" formControlName="max" placeholder="0" class="ion-text-center w25" />
      <label>kg</label>
    </div>
  </ng-container>
  <div class="flex-align-center" (click)="addItem('bags')">
    <ion-icon name="add-circle-outline" class="ion-margin-end"></ion-icon>
    <label>Ajouter un sac</label>
  </div>
  <br />
  <br />
  <div class="flex-align-center justify-between">
    <label class="ion-text-uppercase">bourses</label>
    <label>p. o. max.</label>
  </div>
  <br />
  <ng-container formArrayName="pooches">
    <div class="flex-align-center ion-margin-bottom" *ngFor="let pooch of pooches.controls; let i = index" [formGroupName]="i">
      <ion-icon name="close" (click)="removeItem('pooches', i)" class="ion-margin-end"></ion-icon>
      <input type="text" formControlName="name" placeholder="nom" class="w100" />
      <input type="number" step="0.5" min="0" formControlName="max" placeholder="0" class="ion-text-center w25" />
    </div>
  </ng-container>
  <div class="flex-align-center last" (click)="addItem('pooches')">
    <ion-icon name="add-circle-outline" class="ion-margin-end"></ion-icon>
    <label>Ajouter une bourse</label>
  </div>
</ion-content>
