<ion-content [formGroup]="form" (change)="updateSheet()">
  <h3>sacs et transport</h3>
  <div>
    <label class="hint">charge max. origine / métier :</label>
    <input type="number" formControlName="max" placeholder="0" />
    <label>Kg</label>
  </div>
  <br />
  <div class="flexc spaceb">
    <label class="ion-text-uppercase">sacs</label>
    <label>poids max.</label>
  </div>
  <br />
  <ng-container formArrayName="bags">
    <div class="flexc" *ngFor="let bag of bags.controls; let i = index" [formGroupName]="i">
      <ion-icon name="close" (click)="removeItem('bags', i)"></ion-icon>
      <input type="text" formControlName="name" placeholder="nom" />
      <input type="number" formControlName="max" placeholder="0" />
      <label>kg</label>
    </div>
  </ng-container>
  <br />
  <div class="flexc" (click)="addItem('bags')">
    <ion-icon name="add-circle-outline"></ion-icon>
    <label>Ajouter un sac</label>
  </div>
  <br />
  <br />
  <div class="flexc spaceb">
    <label class="ion-text-uppercase">bourses</label>
    <label>p. o. max.</label>
  </div>
  <br />
  <ng-container formArrayName="pooches">
    <div class="flexc" *ngFor="let pooch of pooches.controls; let i = index" [formGroupName]="i">
      <ion-icon name="close" (click)="removeItem('pooches', i)"></ion-icon>
      <input type="text" formControlName="name" placeholder="nom" />
      <input type="number" formControlName="max" placeholder="0" />
    </div>
  </ng-container>
  <br />
  <div class="flexc last" (click)="addItem('pooches')">
    <ion-icon name="add-circle-outline"></ion-icon>
    <label>Ajouter une bourse</label>
  </div>
</ion-content>
