potions {
    input {
        border-bottom: 1px solid black;
    }

    .row {
        display: flex;
        justify-content: space-between;

        .num-input {
            width: 10%;
        }

        .effect-input {
            width: 55%;
        }
    }
}
