<ion-content padding>
	<h6 margin-bottom text-uppercase>Potions, poisons, antidotes et ingredients magiques</h6>
	<br>
	<form [formGroup]="potionsForm">
	<div class="row" *ngFor="let potion of potionsForm.controls; let i = index" [formGroupName]="i" margin-bottom>
		<label for="nb{{i}}">Doses:</label>
			<input
			id="nb{{i}}"
			text-center
			class="num-input"
			type="number"
			formControlName="dose"
			(blur)="saveData()"
			(keydown.enter)="saveData()">
		<label  for ="ef{{i}}">Effets:</label>
		<input
			id="ef{{i}}"
			type="text"
			text-capitalize
			class="effect-input"
			formControlName="effet"
			(blur)="saveData()"
			(keydown.enter)="saveData()">
	</div>
	</form>
</ion-content>