<ion-content padding>
    <h6 text-uppercase>armures et protections</h6>
    <br>
    <form [formGroup]="armorsForm" novalidate>
        <div *ngFor="let label of armorsLabels; let i = index">
            <div text-capitalize class="armor-name">{{ label }}</div>
            <div class="line" [formArrayName]="i">
                <input formControlName="name" type="text" placeholder="Nom" (blur)="saveData()" (keydown.enter)="saveData()" text-capitalize>
                <input formControlName="pr" type="number" placeholder = "PR" (blur)="saveData()" (keydown.enter)="saveData()">
                <input formControlName="rup" type="text" placeholder = "Rup." (blur)="saveData()" (keydown.enter)="saveData()">
            </div>
            <br>
        </div>
        <div class="line">
            <label for="tm">Truc de Mauviette</label>
            <input id="tm" type="checkbox" [checked]="tdm" (change)="toggleTdm()">
        </div>
    </form>
    <br>
    <div class="line">
        <span class="cal">Protection Naturel</span>
        <span>{{ prNat }}</span>
    </div>
    <div class="line">
        <span class="cal">Protection Magique</span>
        <span>{{ prMag }}</span>
    </div>
</ion-content>