armor {
    .line {
        display: flex;

        label {
            font-weight: bold;
            width: 50%;
        }

        input {
            &:first-child {
                width: 50%;                
            }

            &:nth-child(n + 2) {
                width: 25%;
            }
        }

        #tm {
            width: 5%;
        }
    }

    .cal {
        font-weight: bold;
        width: 50%;
    }

    .armor-name {
        font-weight: bold;
        margin-bottom: 5px;
    }
}
