section {
  flex-wrap: wrap;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 85px;
  height: 85px;
}
