<ion-header>
  <ion-toolbar>
    <ion-title><b>{{ title | titlecase }}</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text *ngIf="subtitle"><i>{{ subtitle }}</i></ion-text>
  <ion-list [formGroup]="$any(form)">
    <ion-item lines="none" (click)="addItem()">
      <ion-icon slot="start" name="add-circle" color="dark"></ion-icon>
      <ion-label>Ajouter un objet</ion-label>
    </ion-item>
    <ion-item lines="none" *ngFor="let control of form.controls; let i = index">
      <ion-grid [formGroupName]="i" (ionChange)="updateSheet()">
        <ion-row class="ion-align-items-center">
          <ion-col size="1">
            <ion-icon name="close-circle" (click)="deleteItem(i)" color="dark" size="x2"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label slot="start">{{ nameLabel | titlecase }}</ion-label>
              <ion-input [placeholder]="nameLabel" formControlName="name" class="ion-text-capitalize"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label slot="start">{{ effectLabel | titlecase }}</ion-label>
              <ion-input [placeholder]="effectLabel" formControlName="effect" class="ion-text-capitalize"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
