<ion-content padding>
  <h6>STATISTIQUES</h6>
  <br>
  <div class="container" [formGroup]="statsForm">
    <div *ngFor="let stat of labels; let i = index">
      <div class="row">
        <label [for]="i">{{ stat.label }}</label>
        <input [id]="i" type="number" [placeholder]="stat.placeholder" [formControlName]="stat.control" (blur)="saveData()" (keydown.enter)="saveData()">
      </div>
      <br *ngIf="stat.control === 'fo'">
    </div>
    <br>
    <div *ngFor="let stat of magLabels">
      <div class="row">
        <label>{{ stat.label }}</label>
        <span>{{ statsForm.get(stat.control).value }}</span>
      </div>
      <div class="row">
        <span class="hint">{{ stat.hint }}</span>
      </div>
      <br>
    </div>
  </div>  
</ion-content>
