<ion-header>
  <ion-toolbar>
    <ion-title><b>Personnages</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item (click)="addPersonaAlert()">
    <ion-icon name="person-add"
              slot="start"
              color="dark"></ion-icon>
    <ion-label>Créer un personnage</ion-label>
  </ion-item>
  <!-- <ion-item (click)="exportFile()">
    <ion-icon name="person-add"
              slot="start"
              color="dark"></ion-icon>
    <ion-label>Exporter tout les personnages</ion-label>
  </ion-item>
  <ion-item (click)="importFile()">
    <ion-icon name="person-add"
              slot="start"
              color="dark"></ion-icon>
    <ion-label>Importer des personnages</ion-label>
  </ion-item> -->
  <!-- <ion-button (click)="addPersonaAlert()">Créer un personnage</ion-button>
  <ion-button (click)="exportFile()">Exporter les personnages</ion-button>
  <ion-button (click)="importFile()">Importer des personnages</ion-button> -->
  <ion-card *ngFor="let persona of personaService.personas">
    <ion-card-header>
      <ion-card-title>
        <ion-item lines="none">
          <ion-label (click)="selectPersona(persona)">
            <ion-text>{{ persona.name | titlecase }}</ion-text>
            <ion-text *ngIf="persona.sheets.char.origine"> est {{ persona.sheets.char.origine | titlecase }}</ion-text>
            <ion-text *ngIf="persona.sheets.char.niveau"> niveau {{ persona.sheets.char.niveau }}</ion-text>
          </ion-label>
          <ion-icon name="trash"
                    color="dark"
                    (click)="removePersonaAlert(persona)"></ion-icon>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
