<ion-content ion-padding>
  <h3 class="mb">Choisir un personnage</h3>
  <br />
  <div class="flexc mb" (click)="addPersonaModal()">
    <ion-icon name="add-circle-outline" class="mr"></ion-icon>
    <div>Créer un nouveau Personnage</div>
  </div>
  <br />
  <div *ngFor="let persona of personaService.personas$ | async" class="flexc mb" [style.background-color]="persona.color">
    <ion-icon name="close" class="mr" (click)="removePersonaModal(persona)"></ion-icon>
    <div (click)="selectPersona(persona)" routerLink="/char">{{ persona.name }}</div>
  </div>
</ion-content>
