<!-- MAKE IT SO ITEMS CAN BE ADDED REMOVED -->
<ion-content>
  <ion-grid padding [formGroup]="specialForm">
    <ion-row><ion-col><h6 text-uppercase>objets speciaux, maudits ou reliques :</h6></ion-col></ion-row>
    <ng-container *ngFor="let special of specialForm.controls; let i = index" [formGroupName]="i">
      <ion-row>
        <ion-col size="2"><label for="nom{{i}}">objet :</label></ion-col>
        <ion-col size="10">
          <input
            id="nom{{i}}"
            text-capitalize
            class="name-inpput"
            type="text"
            formControlName="nom"
            (blur)="saveData()"
            (keydown.enter)="saveData()">
        </ion-col>
      </ion-row>
      <ion-row padding-bottom >
        <ion-col size="4"><label for ="ef{{i}}">Bonus/Effets :</label></ion-col>
        <ion-col size="8">
          <input
            id="ef{{i}}"
            text-capitalize
            class="effect-input"
            type="text"
            formControlName="effet"
            (blur)="saveData()"
            (keydown.enter)="saveData()">
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>