<ion-content padding>
	<h6 text-uppercase>Machins Précieux</h6>
	<div margin-bottom class="hint">Titres particuliers, montures, habitations, héritages et autres souvenirs...</div>
	<div>
		<ion-icon name="add-circle" margin-right (click)="item.focus()"></ion-icon>
		<input
			#item
			text-capitalize
            margin-bottom
			type="text"
			placeholder="Ajouter un objet précieux"
			[(ngModel)]="dataStorage.input"
			(blur)="addItem(item.value)"
			(keydown.enter)="addItem(item.value)">
	</div>
	<div *ngFor="let item of precious">
		<ion-icon name="trash" margin-right (click)="deleteItem(item)"></ion-icon>
		<input
			#itemInput
			text-capitalize
			margin-bottom
			type="text"
			[value]="item"
			(blur)="updateItem(item, itemInput.value)"
			(keydown.enter)="updateItem(item, itemInput.value)">
	</div>
</ion-content>
