<ion-content [formGroup]="form" (change)="updateEffects()" (ionChange)="updateEffects()">
  <h2>{{ title }}</h2>
  <div class="hint">p. i. : points d'impacts, dégâts infligés.</div>
  <div class="hint">rup. : points de rupture.</div>
  <br />
  <ng-container *ngFor="let weapon of form.controls; let i = index">
    <div class="card">
      <div class="subtitle mb">{{ i === 0 ? 'arme principale' : i === 1 ? 'arme secondaire' : 'arme supplémentaire' }}</div>
      <ng-container [formGroupName]="i">
        <div class="mb">
          <label for="name{{ i }}">nom :</label>
          <input type="text" id="name{{ i }}" formControlName="name" placeholder="nom" />
        </div>
        <div class="mb flexc">
          <label class="mr" for="pi{{ i }}">p. i. :</label>
          <input type="text" id="pi{{ i }}" class="short" formControlName="pi" placeholder="p.i." />
          <label class="mr" for="rup{{ i }}">rup. :</label>
          <input type="text" id="rup{{ i }}" class="short" formControlName="rup" placeholder="rup." />
          <label class="mr">equipé ?</label>
          <ion-checkbox type="checkbox" formControlName="equiped" color="dark"></ion-checkbox>
        </div>
        <div class="mb">effets :</div>
        <ng-container formArrayName="effects">
          <div class="mb flexc spaceb" *ngFor="let item of form.at(i).get('effects').controls; let j = index">
            <ng-container [formGroupName]="j">
              <ion-icon name="close" (click)="removeItem(i, j)"></ion-icon>
              <label>stat. :</label>
              <select formControlName="name">
                <option *ngFor="let stat of statsNames" [value]="stat">{{ stat }}</option>
              </select>
              <label for="efval-{{ i }}-{{ j }}">valeur :</label>
              <input type="text" id="efval-{{ i }}-{{ j }}" class="short" placeholder="ex : 2 / -3" formControlName="effect" />
            </ng-container>
          </div>
        </ng-container>
        <div class="flexc" (click)="addItem(i)">
          <ion-icon class="mr" name="add-circle-outline"></ion-icon>
          <label>Ajouter un effet</label>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <div class="last"></div>
</ion-content>
