<ion-header>
  <ion-toolbar>
    <ion-title><b>{{ title | titlecase }}</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"
             [formGroup]="$any(form)"
             (ionChange)="updateSheet()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-note>P. I. : Points d'impact</ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-note>Rup. : Points de rupture</ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item lines="none">
    <ion-icon slot="start"
              name="add-circle"
              color="dark"></ion-icon>
    <ion-select #weaponSelect
                interface="popover"
                placeholder="Ajouter un emplacement"
                (ionChange)="addWeapon($event)"
                (ionDismiss)="clearWeaponSelect(weaponSelect)">
      <ion-select-option *ngFor="let weaponName of weaponNames">{{ weaponName | titlecase }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card *ngFor="let weapon of form.controls; let i = index">
    <ion-card-header>
      <ion-card-title>
        <ion-item lines="none">
          <ion-icon [name]="opens[i] ? 'caret-down' : 'caret-forward'"
                    color="dark"
                    (click)="opens[i] = !opens[i]"></ion-icon>
          <ion-label (click)="opens[i] = !opens[i]">{{ weapon.get('type').value | titlecase }}</ion-label>
          <ion-chip [color]="weapon.get('equiped').value ? 'success' : 'dark'"
                    (click)="equipWeapon(weapon.get('equiped').value, i)">
            équipé
          </ion-chip>
          <ion-icon slot="end"
                    name="trash"
                    color="dark"
                    (click)="removeWeapon(i)"></ion-icon>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content [formGroupName]="i"
                      *ngIf="opens[i]">
      <ion-list>
        <ion-item lines="none">
          <ion-label slot="start">Nom</ion-label>
          <ion-input placeholder="Nom"
                     formControlName="name"
                     class="ion-text-capitalize"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>P. I.</ion-label>
          <ion-input class="ion-text-center"
                     placeholder="1d6"
                     formControlName="pi"></ion-input>
          <ion-label>Rup.</ion-label>
          <ion-input class="ion-text-center"
                     placeholder="1 à 4"
                     formControlName="rup"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon slot="start"
                    name="add-circle"
                    color="dark"></ion-icon>
          <ion-select #effectSelect
                      interface="popover"
                      placeholder="Ajouter un effet"
                      (ionChange)="addEffect($event, i)"
                      (ionDismiss)="clearEffectSelect(effectSelect)">
            <ion-select-option *ngFor="let stat of statsObject; let i = index"
                               [value]="stat.code">{{ stat.name }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ng-container formArrayName="effects">
          <ion-item lines="none"
                    *ngFor="let item of effects(i).controls; let j = index"
                    [formGroupName]="j">
            <ion-label slot="start">{{ getEffectName(item.value.name) }}</ion-label>
            <ion-input class="ion-text-center"
                       placeholder="0"
                       formControlName="effect"></ion-input>
            <ion-icon slot="end"
                      name="trash"
                      color="dark"
                      (click)="removeEffect(i, j)"></ion-icon>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>