<ion-content [formGroup]="targetForm" (change)="fm.updateEffects()">
  <h3>{{ title }}</h3>
  <div class="hint">p. i. : points d'impacts, dégâts infligés.</div>
  <div class="hint">rup. : points de rupture.</div>
  <ng-container *ngFor="let control of targetForm.controls | keyvalue: fm.defaultOrder; let i = index" [ngSwitch]="control.key">
    <h2 *ngSwitchCase="'wea1'">arme principale :</h2>
    <h2 *ngSwitchCase="'wea2'">arme secondaire :</h2>
    <h2 *ngSwitchDefault>arme supplémentaire :</h2>
    <div [formGroupName]="control.key" margin-top>
      <div><label for="name{{ i }}">nom :</label><input type="text" id="name{{ i }}" formControlName="name" placeholder="nom" /></div>
      <br />
      <div class="add">
        <label for="pr{{ i }}">p. i. :</label><input type="number" id="pi{{ i }}" class="short" formControlName="pi" placeholder="p.i." />
        <label for="rup{{ i }}">rup. :</label><input type="text" id="rup{{ i }}" class="short" formControlName="rup" placeholder="rup." />
        <label for="equ{{ i }}">equipé ?</label>
        <ion-checkbox type="checkbox" id="equ{{ i }}" formControlName="equ" color="dark"></ion-checkbox>
      </div>
      <div margin-top margin-bottom>effets :</div>
      <ng-container formArrayName="ef">
        <div *ngFor="let item of targetForm.get(control.key).get('ef').controls; let i = index" class="add effect">
          <ion-icon name="close" (click)="removeItem(control.key, i)"></ion-icon>
          <ng-container [formGroupName]="i">
            <label for="efname">stat. :</label>
            <input type="text" id="efname" class="short" placeholder="ex : ad / int" formControlName="name" />
            <label for="efval">valeur :</label>
            <input type="text" id="efval" class="short" placeholder="ex : 2 / -3" formControlName="val" />
          </ng-container>
        </div>
      </ng-container>
      <div margin-top class="add" (click)="addItem(control.key)">
        <ion-icon name="add-circle-outline"></ion-icon>
        <label>Ajouter un effet</label>
      </div>
    </div>
  </ng-container>
  <div class="last"></div>
</ion-content>
