<ion-content padding [formGroup]="armorsForm">
  <ion-grid>
    <ion-row padding-bottom
      ><ion-col
        ><h6 text-uppercase>armures et protections</h6></ion-col
      ></ion-row
    >
    <ng-container *ngFor="let label of armorsLabels; let i = index">
      <ion-row>
        <ion-col
          ><label>{{ label }}</label></ion-col
        >
        <ion-col text-right><label>equipé ?</label></ion-col>
      </ion-row>
      <ion-row padding-bottom [formArrayName]="i">
        <ion-col
          ><input
            formControlName="name"
            type="text"
            placeholder="Nom"
            (blur)="saveData()"
            (keydown.enter)="saveData()"
        /></ion-col>
        <ion-col
          ><input
            formControlName="pr"
            type="number"
            placeholder="PR"
            (blur)="saveData()"
            (keydown.enter)="saveData()"
        /></ion-col>
        <ion-col
          ><input
            formControlName="rup"
            type="text"
            placeholder="Rup."
            (blur)="saveData()"
            (keydown.enter)="saveData()"
        /></ion-col>
        <ion-col
          ><input formControlName="equ" type="checkbox" (change)="saveData()"
        /></ion-col>
      </ion-row>
    </ng-container>
    <ion-row padding-bottom>
      <ion-col><label for="tm">Truc de Mauviette</label></ion-col>
      <ion-col pull="2.6"
        ><input id="tm" type="checkbox" [checked]="tdm" (change)="toggleTdm()"
      /></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><label>Protection Naturel</label></ion-col>
      <ion-col
        ><label>{{ prNat }}</label></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col><label>Protection Magique</label></ion-col>
      <ion-col
        ><label>{{ prMag }}</label></ion-col
      >
    </ion-row>
    <ng-container formArrayName="ef">
      <ion-row
        *ngFor="
          let effect of weaponsForm.get(weapon.key).get('ef').controls;
          let i = index
        "
      >
        <ion-col size="1" (click)="removeEffect(weapon.key, i, true)"
          ><ion-icon name="close"></ion-icon
        ></ion-col>
        <ion-col
          ><label text-uppercase>{{ effect.value }}</label></ion-col
        >
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
