input {
  padding-left: 10px;
  width: 90%;
}

select {
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
  background: none;

  option {
    font-weight: bold;
    background-color: #dacfab;
  }
}
