<ion-content [formGroup]="mainForm">
  <h3>{{ title }}</h3>
  <br *ngIf="!subtitle" />
  <div class="hint mb" *ngIf="subtitle">{{ subtitle }}</div>
  <div>
    <div class="flexc" *ngIf="!useSelect">
      <label for="first"><ion-icon name="add-circle-outline"></ion-icon></label>
      <input #add type="text" id="first" [placeholder]="placeholder" (change)="updateItem(add, null)" />
    </div>
    <ng-container *ngIf="useSelect">
      <select #select (change)="addItem(select.value)" class="ion-text-capitalize">
        <option *ngFor="let skill of skillsList" class="ion-text-capitalize">{{ skill.title }}</option>
      </select>
    </ng-container>
  </div>
  <br />
  <ng-container [formArrayName]="formName">
    <div class="flexc mb" *ngFor="let control of targetForm.controls; let i = index" (change)="updateItem(update, i)">
      <ion-icon class="mr" name="close" (click)="deleteItem(i)"></ion-icon>
      <input #update *ngIf="!useSelect" type="text" [formControlName]="i" />
      <ng-container *ngIf="useSelect">
        <label class="ion-text-capitalize mr">{{ control.value }}</label>
        <ion-icon name="help-circle-outline" (click)="showSkillDes(control.value)"></ion-icon>
      </ng-container>
    </div>
  </ng-container>
  <div class="last"></div>
</ion-content>
