<ion-content [formGroup]="form">
  <h3 class="ion-margin-bottom">{{ title }}</h3>
  <div class="hint ion-margin-bottom" *ngIf="subtitle">{{ subtitle | titlecase }}</div>
  <div>
    <div class="flex-align-center" *ngIf="!useSelect; else select">
      <label for="first" class="flex-align-center ion-margin-end"><ion-icon name="add-circle-outline"></ion-icon></label>
      <input #add type="text" id="first" [placeholder]="placeholder" (change)="updateItem(add, null)" class="w100" />
    </div>
    <ng-template #select>
      <select class="ion-text-capitalize w100">
        <option *ngFor="let skill of skillsList" class="ion-text-capitalize" (click)="addSkill(skill.title)">{{ skill.title }}</option>
      </select>
    </ng-template>
  </div>
  <br />
  <div class="flex-align-center ion-margin-bottom" *ngFor="let control of form.controls; let i = index">
    <ion-icon class="ion-margin-end" name="close" (click)="deleteItem(i)"></ion-icon>
    <input #update *ngIf="!useSelect; else skill" type="text" [formControlName]="i" (change)="updateItem(update, i)" />
    <ng-template #skill>
      <label class="ion-text-capitalize ion-margin-end">{{ control.value }}</label>
      <ion-icon name="help-circle-outline" (click)="showSkillDes(control.value)"></ion-icon>
    </ng-template>
  </div>
  <div class="last"></div>
</ion-content>
