<!-- MAKE ALL MENUS FABS? -->
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="char">
      <ion-icon name="body"></ion-icon>
      <ion-label>perso.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="stats"></ion-icon>
      <ion-label>stat.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="skills">
      <ion-icon name="book"></ion-icon>
      <ion-label>comp.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="equip">
      <ion-icon name="color-filter"></ion-icon>
      <ion-label>équip.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inv">
      <ion-icon name="apps"></ion-icon>
      <ion-label>inv.</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="presentModal()">
      <ion-icon name="refresh"></ion-icon>
      <ion-label>ràZ</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>