<ion-content padding [formGroup]="targetForm" (change)="updateForm()">
  <h3>{{ title }}</h3>
  <label class="hint">récup. : récupération PV</label>
  <ng-container *ngFor="let control of targetForm.controls | keyvalue: fm.defaultOrder; let i = index">
    <div *ngIf="control.key !== 'mat'" [formGroupName]="control.key">
      <div class="divLabel">
        <label>{{ control.key }}</label>
        <label>Récup.</label>
        <label>Poids</label>
      </div>
      <div class="divInput">
        <input type="text" formControlName="name" placeholder="Nom" />
        <input type="number" formControlName="pv" placeholder="0" />
        <label>PV /</label>
        <input type="number" formControlName="h" placeholder="0" class="h" />
        <label>H</label>
        <input type="number" formControlName="wei" placeholder="0" class="wei" />
      </div>
    </div>
    <br />
  </ng-container>
  <div class="divLabel">
    <label>Nom</label>
    <label>Poids</label>
  </div>
  <ng-container formArrayName="mat">
    <div class="divLabel" *ngFor="let control of matFormArray.controls; let i = index" [formGroupName]="i">
      <ion-icon name="close" (click)="removeItem(i)"></ion-icon>
      <input type="text" formControlName="name" placeholder="nom" />
      <input type="number" formControlName="wei" placeholder="poids" text-end />
    </div>
  </ng-container>
  <div class="add" (click)="addItem()">
    <ion-icon name="add-circle-outline"></ion-icon>
    <label>Ajouter un objet</label>
  </div>
  <div text-end class="last">
    <label>Poids total: {{ pTotal }} Kg</label>
  </div>
</ion-content>
