<ion-content [formGroup]="form" (change)="updateTotalWeight()">
  <h3>{{ title }}</h3>
  <div class="hint mb">récup. : récupération PV</div>
  <br />
  <ng-container *ngFor="let control of form.controls | keyvalue: personaService.defaultOrder">
    <div *ngIf="control.key !== 'autres' && control.key !== 'totalWeight'" [formGroupName]="control.key">
      <div class="flexc spaceb mb">
        <label>{{ control.key }}</label>
        <label>Récup.</label>
        <label>Poids</label>
      </div>
      <div class="flexc spaceb">
        <input type="text" formControlName="name" placeholder="Nom" />
        <input type="number" step="0.5" formControlName="pv" placeholder="0" />
        <label class="mr">PV /</label>
        <input type="number" step="0.5" formControlName="h" placeholder="0" />
        <label>H</label>
        <input type="number" step="0.5" formControlName="wei" placeholder="0" text-end />
      </div>
    </div>
    <br />
  </ng-container>
  <div class="flexc spaceb mb">
    <label>Nom</label>
    <label>Poids</label>
  </div>
  <ng-container formArrayName="autres" *ngFor="let control of autres.controls; let i = index">
    <div class="flexc spaceb mb" [formGroupName]="i">
      <ion-icon name="close" (click)="removeItem(i)"></ion-icon>
      <input type="text" formControlName="name" placeholder="nom" />
      <input type="number" step="0.5" formControlName="wei" placeholder="poids" text-end />
    </div>
  </ng-container>
  <br />
  <div class="flexc mb" (click)="addItem()">
    <ion-icon name="add-circle-outline" class="mr"></ion-icon>
    <label>Ajouter un objet</label>
  </div>
  <br />
  <div class="last ion-text-end">Poids total: {{ totalWeight }} Kg</div>
</ion-content>
