<ion-content padding>
	<h6 margin-bottom text-uppercase>Objets spéciaux, maudits ou reliques :</h6>
	<br>
	<form [formGroup]="specialForm">
		<div *ngFor="let special of specialForm.controls; let i = index" [formGroupName]="i">
			<div class="row">
				<label for="nom{{i}}">Objet :</label>
				<input
					id="nom{{i}}"
					text-capitalize
					class="name-inpput"
					type="text"
					formControlName="nom"
					(blur)="saveData()"
					(keydown.enter)="saveData()">
			</div>
			<div>
				<label for ="ef{{i}}">Bonus/Effets :</label>
				<input
					id="ef{{i}}"
					text-capitalize
					class="effect-input"
					type="text"
					formControlName="effet"
					(blur)="saveData()"
					(keydown.enter)="saveData()">
			</div>
			<br>
		</div>
	</form>
</ion-content>