<ion-content padding [formGroup]="targetForm" (change)="updateForm()">
  <h3>{{ title }}</h3>
  <div class="hint">p. i. : points d'impacts, dégâts infligés.</div>
  <div class="hint">rup. : points de rupture.</div>
  <ng-container *ngFor="let control of targetForm.controls | keyvalue: fm.defaultOrder; let i = index" [ngSwitch]="control.key">
    <h2 *ngSwitchCase="'wea1'">arme principale :</h2>
    <h2 *ngSwitchCase="'wea2'">arme secondaire :</h2>
    <h2 *ngSwitchDefault>arme supplémentaire :</h2>
    <div [formGroupName]="control.key" margin-top>
      <input type="text" formControlName="name" placeholder="nom" />
      <input type="text" formControlName="pi" placeholder="p. i." />
      <input type="text" formControlName="rup" placeholder="rup." />
      <label [for]="i">equipé ?</label>
      <ion-checkbox type="checkbox" [id]="i" formControlName="equ" (ionChange)="updateForm()"></ion-checkbox>
      <div margin-top margin-bottom>effets :</div>
      <ng-container formArrayName="ef">
        <div margin-bottom *ngFor="let item of targetForm.get(control.key).get('ef').controls; let i = index">
          <input type="text" placeholder="effet (ex: AD + 1)" [formControlName]="i" />
        </div>
      </ng-container>
      <div class="add" (click)="addItem(control.key)">
        <ion-icon name="add-circle-outline"></ion-icon>
        <label>Ajouter un effet</label>
      </div>
    </div>
  </ng-container>
</ion-content>
