<ion-content>
  <ion-grid padding [formGroup]="weaponsForm">
    <ion-row
      ><ion-col><h6 text-uppercase>armement et baston</h6></ion-col></ion-row
    >
    <ng-container *ngFor="let weapon of weaponsArray">
      <ion-row
        ><ion-col
          ><h6 text-capitalize>{{ weapon.label }}</h6></ion-col
        ></ion-row
      >
      <ng-container [formGroupName]="weapon.key">
        <ion-row>
          <ion-col size="2"><label>Equipé</label></ion-col>
          <ion-col size="4"
            ><ion-checkbox
              formControlName="equ"
              (ionChange)="addWeapon(true)"
            ></ion-checkbox
          ></ion-col>
          <ion-col size="2"><label for="name">Nom :</label></ion-col>
          <ion-col size="4"
            ><input
              id="name"
              type="text"
              placeholder="Nom"
              formControlName="name"
              (blur)="addWeapon()"
          /></ion-col>
          <ion-col size="2"><label for="pi">P. I.</label></ion-col>
          <ion-col size="4"
            ><input
              id="pi"
              type="text"
              placeholder="ex : 1D6"
              formControlName="pi"
              (blur)="addWeapon()"
          /></ion-col>
          <ion-col size="2"><label for="rup">P. Rup.</label></ion-col>
          <ion-col size="4"
            ><input
              id="rup"
              type="text"
              placeholder="ex : 1 à 5"
              formControlName="rup"
              (blur)="addWeapon()"
          /></ion-col>
        </ion-row>
        <ion-row
          ><ion-col><label>Ajouter un effet</label></ion-col></ion-row
        >
        <ion-row>
          <ion-col size="1"
            ><ion-icon name="add" (click)="effect.focus()"></ion-icon
          ></ion-col>
          <ion-col
            ><input
              #effect
              text-uppercase
              type="text"
              placeholder="ex : ad - 2"
              (blur)="addEffect(weapon.key, effect, true)"
          /></ion-col>
        </ion-row>
        <ng-container formArrayName="ef">
          <ion-row
            *ngFor="
              let effect of weaponsForm.get(weapon.key).get('ef').controls;
              let i = index
            "
          >
            <ion-col size="1" (click)="removeEffect(weapon.key, i, true)"
              ><ion-icon name="close"></ion-icon
            ></ion-col>
            <ion-col
              ><label text-uppercase>{{ effect.value }}</label></ion-col
            >
          </ion-row>
        </ng-container>
      </ng-container>
      <br />
    </ng-container>
  </ion-grid>
</ion-content>
