<ion-content [formGroup]="form" (change)="updateSheet()">
  <h3>{{ title }}</h3>
  <div class="hint ion-margin-bottom" *ngIf="subtitle">{{ subtitle | titlecase }}</div>
  <div *ngFor="let control of form.controls; let i = index" [formGroupName]="i" class="flex-align-center ion-margin-bottom">
    <ion-icon name="close" class="ion-margin-end" (click)="deleteItem(i)"></ion-icon>
    <div>
      <div>
        <label for="name{{ i }}" class="ion-margin-end">{{ nameLabel }} :</label>
        <input type="text" id="name{{ i }}" formControlName="name" [placeholder]="nameLabel" />
      </div>
      <div>
        <label for="effect{{ i }}" class="ion-margin-end"> {{ effectLabel }} :</label>
        <input type="text" id="effect{{ i }}" formControlName="effect" [placeholder]="effectLabel" />
      </div>
    </div>
  </div>
  <div class="flex-align-center last" (click)="addItem()">
    <ion-icon name="add-circle-outline" class="ion-margin-end"></ion-icon>
    <label>Ajouter un objet</label>
  </div>
</ion-content>
