#add {
  display: flex;
  align-items: center;
}

input,
label {
  padding-left: 10px;
  white-space: nowrap;
}

.item {
  margin-top: 20px;
  div {
    margin-bottom: 5px;
  }
}

.del {
  margin-top: 12px;
  float: left;
}
