// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'dauphin';
  src: url('assets/fonts/dauphin.ttf');
}

body {
  font-family: 'dauphin';
  font-weight: bold;
}

form {
  padding: 20px;
  text-transform: capitalize;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
}

label,
input {
  border: 0;
  text-transform: capitalize;
}

.hint {
  font-size: 0.9em;
  font-style: italic;
}
