// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'dauphin';
  src: url('assets/fonts/dauphin.ttf');
}

body,
ion-content {
  font-family: 'dauphin';
  font-weight: bold;
}

h6 {
  font-size: 1.3em;
  font-weight: bold;
}

label,
input,
ion-label {
  border: 0;
  background: none;
  text-transform: capitalize;
}

input {
  width: 100%;
}

.hint {
  font-size: 0.9em;
  font-style: italic;
}
