// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'dauphin';
  src: url('assets/fonts/dauphin.ttf');
}

ion-content {
  font-family: 'dauphin';
  font-weight: bold;
  text-transform: capitalize;
  --background: #eae7de;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
}

label,
input {
  border: 0;
  text-transform: capitalize;
  background: none;
}

.hint {
  font-size: 0.9em;
  font-style: italic;
  font-weight: normal;
}

ion-icon {
  font-size: 25px;
  font-weight: bold;
}

.my-custom-modal-css .modal-wrapper {
  height: 35%;
  width: 80%;
  top: 30%;
  position: absolute;
  display: block;
  border-radius: 25px;
}

.add {
  display: flex;
  align-items: center;

  ion-icon {
    margin-right: 5px;
  }
}
