div {
  margin-bottom: 15px;
}

label,
input {
  display: inline-flex;
  width: 50%;
}

#sexe {
  width: 25%;
  color: gray;
}

.selected {
  color: black;
}

input[type='radio'] {
  display: none;
}
