<ion-content padding>
  <h6 text-uppercase>Sacs et Transport</h6>
  <form [formGroup]="bagsForm">
    <div>
      <label class="hint">Charge max. origine / métier :</label>
      <input class="first-input" text-center type="number" formControlName="poidsmax" (blur)="saveData()" (keydown.enter)="saveData()">
      <span>Kg</span>
    </div>
    <br>  
    <div formArrayName="sacs">
      <div class="row">
        <label class="left-part">Sac</label>
        <label class="right-part">Poids Max.</label>
      </div>
      <br>      
      <div *ngFor="let sac of sacs.controls; let i = index">
        <div [formGroupName]="i" class="row">
          <input class="left-part" id="nom{{i}}" text-capitalize type="text"formControlName="nom" (blur)="saveData()" (keydown.enter)="saveData()">
          <input class="right-part" id="poids{{i}}" text-center type="number" formControlName="chargemax" (blur)="saveData()" (keydown.enter)="saveData()">
          <span>Kg</span>
        </div>
        <br>
      </div>
    </div>
    <br>    
    <div formArrayName="bourses">
      <div class="row">
        <label class="left-part">Bourses</label>
        <label class="right-part">P.O. Max.</label>
      </div>
      <br>      
      <div *ngFor="let sac of sacs.controls; let i = index">
        <div [formGroupName]="i" class="row">
          <input class="left-part" id="nomb{{i}}" text-capitalize type="text" formControlName="nom" (blur)="saveData()" (keydown.enter)="saveData()">
          <input class="right-part" id="poidsb{{i}}" text-center type="number" formControlName="chargemax" (blur)="saveData()" (keydown.enter)="saveData()">
        </div>
        <br>
      </div>
    </div>
  </form>
</ion-content>